Package: steam-debian
Source: steam
Version: 1.0.0.47-4
Architecture: all
Maintainer: Keith Henderson Jr <keithhendersonjr@gmail.com>
Installed-Size: 5500.0
Depends: realpath, python, curl, libc6, python-apt, xterm | gnome-terminal | konsole, xz-utils, zenity
Recommends: ttf-mscorefonts-installer
Conflicts: steam, steam64
Replaces: steam, steam64
Section: games
Priority: optional
Homepage: http://www.steampowered.com/
Description: Modified version of Valve's installer
 Note that this version of the .deb is meant
 to be installed and ran on Debian Wheezy
 .
 The command to launch is steam-debian
 .
 P.S. If you're running a 64bit system, you'll have to enable access to 32bit 
 libraries
 .
 This can be done by executing the following commands: 
 .
 sudo dpkg --add-architecture i386
 .
 sudo apt-get update
 .
 After doing this, you'll need to install additional packages:
 .
 FOR ATI GRAPHICS CARDS: libgl1-fglrx-glx:i386
 .
 FOR NVIDIA CARDS: libgl1-nvidia-glx:i386
 .
 FOR INTEL CARDS: libgl1-mesa-glx:i386
