Package: steam-debian
Source: steam
Version: 1.0.0.36-4
Architecture: all
Maintainer: Keith Henderson <keithhendersonjr@gmail.com>
Installed-Size: 5427.2
Depends: python, curl, libc6, python-apt, realpath, xterm | gnome-terminal | konsole, xz-utils, zenity, ttf-mscorefonts-installer, libgl1-mesa-glx:i386, libgl1-mesa-dri:i386
Conflicts: steam, steam64
Replaces: steam, steam64
Section: games
Priority: optional
Homepage: http://www.steampowered.com/
Description: A modified version of the Steam .deb 
 Note that this version of the .deb is meant
 to be installed and ran on Debian Testing.
 The command to launch is steam-debian
